
		body{
			background-color: whitesmoke;
		}
		div{
			background-color: white;
			border: none;
			box-shadow:10px ;
			border-radius: 10px;
			width: 600px;

			margin-top: 150px;
			margin-left: 500px;
			margin-right: 500px;
			height: 200px;
			padding-left: 35px;
			padding-top: 40px;
			padding-right: 50px;

			font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
			word-spacing: 2px;
			box-shadow: 0 0 5px rgba(0,0,0,0.1);

    }

    h1 {
      font-size: 2em;
      margin-top: 0;
      color: #000;
    }

    p {
      font-size: 1em;
      line-height: 1.4em;
      color: #000;
    }

    a {
      color: #2a64ff;
      text-decoration: none;
      font-size: 1em;
    }

	
		
	